<div class="container mt-4">
  <h1>Contacto</h1>
  <p>Si tiene alguna pregunta, por favor no dude en contactarnos.</p>
  <form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input id="nombre" name="nombre" type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico:</label>
      <input id="email" name="email" type="email" class="form-control" />
    </div>
    <div class="mb-3">
      <label for="mensaje" class="form-label">Mensaje:</label>
      <textarea id="mensaje" name="mensaje" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
